@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

#secondSearch {
  display: flex;
  flex-flow: row wrap;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 40%;
  padding-top: 1rem;
}

#ingSearch .list-container {
  background-color: #3282f7;
}

.list-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.list-container ul li {
  font-size: 18px;
  padding: 10px;
  color: white;
  width: calc(33.33% - 20px);
  list-style: none;
  cursor: pointer;
}
.list-container ul li:hover {
  color: beige;
}

#appSearch .list-container {
  background-color: #68d9a4;
}

#ustSearch .list-container {
  background-color: #ed6454;
}

@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
    margin: auto;
  }
}
.input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input-group #searchForm {
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-left: 20px;
}
.input-group i {
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  font-size: xx-large;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#content-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#content-card .card {
  width: calc(33.33% - 40px);
  height: 364px;
  margin: 20px;
  padding-bottom: 40px;
}
#content-card .card a {
  color: black;
}
#content-card .card a .card__thumb {
  height: 178px;
  width: 100%;
  background-color: #c7bebe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#content-card .card a .card__body {
  height: 178px;
  padding: 20px;
  margin: 0;
  background-color: #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#content-card .card a .card__head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#content-card .card a .card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
}
#content-card .card a .card__time {
  display: flex;
  align-items: center;
}
#content-card .card a .card__time i {
  font-size: larger;
  margin-right: 5px;
}
#content-card .card a .card__time p {
  font-weight: 700;
}
#content-card .card a .card__content {
  width: 100%;
  height: 80%;
  padding-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#content-card .card a .card__ingredients {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content-card .card a .card__ingredients span {
  padding: 0;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 12px;
}
#content-card .card a .card__description {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #content-card .card {
    width: calc(50% - 40px);
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #content-card .card {
    width: calc(100% - 40px);
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
