@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lato:wght@100;300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main {
  padding: 0 100px 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  padding-top: 1rem;
}
header img {
  width: 30%;
}

#secondSearch {
  display: flex;
  position: absolute;
  max-width: calc(83.33% - 20px);
  overflow: hidden;
  z-index: 3;
}
#secondSearch .secondSearch {
  width: calc(100% - 10px);
  border-radius: 5px;
  margin: 20px 5px 10px 0;
}
#secondSearch .secondSearch.hidden {
  display: none;
}
#secondSearch .secondSearch .input-btn {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  align-items: center;
}
#secondSearch .secondSearch .input-btn input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}
#secondSearch .secondSearch .list-container {
  border-radius: 5px;
  width: 100%;
}
#secondSearch .secondSearch .list-container ul {
  height: 150pt;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#secondSearch .secondSearch .list-container ul li {
  font-size: 18px;
  padding: 10px;
  color: white;
  min-width: calc(33.33% - 20px);
  list-style: none;
  cursor: pointer;
}
#secondSearch .secondSearch .list-container ul li:hover {
  color: rgb(70, 70, 70);
}
#secondSearch .btn-dropdown {
  margin: 20px 10px 10px 0;
  border-radius: 5px;
  width: 170px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#secondSearch .btn-dropdown.hidden {
  display: none;
}
#secondSearch .btn-dropdown:hover {
  cursor: pointer;
}
#secondSearch .btn-dropdown label {
  font-weight: 700;
  font-size: 18px;
}
#secondSearch .btn-dropdown i {
  font-weight: 700;
}
#secondSearch #ingSearch .list-container,
#secondSearch #ingSearch .btn-dropdown,
#secondSearch #ingSearch .secondSearch {
  background-color: #3282f7;
}
#secondSearch #appSearch .list-container,
#secondSearch #appSearch .btn-dropdown,
#secondSearch #appSearch .secondSearch {
  background-color: #68d9a4;
}
#secondSearch #ustSearch .list-container,
#secondSearch #ustSearch .btn-dropdown,
#secondSearch #ustSearch .secondSearch {
  background-color: #ed6454;
}

#tag-container ul {
  display: flex;
  flex-flow: row wrap;
}
#tag-container ul li {
  margin: 10px;
  display: flex;
  border-radius: 5px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 25%;
}
#tag-container ul li.ing {
  background-color: #3282f7;
}
#tag-container ul li.app {
  background-color: #68d9a4;
}
#tag-container ul li.ust {
  background-color: #ed6454;
}
#tag-container ul li i {
  padding-left: 10px;
}
#tag-container ul li i:hover {
  cursor: pointer;
  color: rgb(70, 70, 70);
}

.getError {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 100%;
  color: #ed6454;
  font-size: 32px;
  font-weight: 700;
}

.input-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input-group #searchForm {
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-left: 20px;
}
.input-group i {
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  font-size: xx-large;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #secondSearch {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  main {
    padding: 10px;
  }
  #secondSearch {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    width: 100%;
  }
  #secondSearch .secondSearch {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  #secondSearch .secondSearch .input-btn {
    width: 90%;
  }
  #secondSearch .secondSearch .list-container {
    border-radius: 0;
  }
  #secondSearch .btn-dropdown {
    width: 95%;
    margin: 0;
    border-radius: 0;
    padding: 20px 20px 20px 20px;
  }
  #secondSearch .btn-dropdowni {
    margin-right: 10px;
  }
}
#content-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  margin-top: 5rem;
}
#content-card .card {
  width: calc(33.33% - 40px);
  margin: 20px 0 20px;
}
#content-card .card:hover {
  transform: scale(1.01);
  box-shadow: 6px 6px 2px rgb(73, 73, 73);
  border-radius: 5px;
}
#content-card .card a {
  color: black;
}
#content-card .card a .card__thumb {
  height: 178px;
  width: 100%;
  background-color: #c7bebe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#content-card .card a .card__body {
  height: 178px;
  padding: 20px;
  margin: 0;
  background-color: #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#content-card .card a .card__head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#content-card .card a .card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  width: 75%;
}
#content-card .card a .card__time {
  display: flex;
  align-items: center;
}
#content-card .card a .card__time i {
  font-size: larger;
  margin-right: 5px;
}
#content-card .card a .card__time p {
  font-weight: 700;
}
#content-card .card a .card__content {
  width: 100%;
  height: 80%;
  padding-top: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#content-card .card a .card__ingredients {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content-card .card a .card__ingredients span {
  padding: 0;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 12px;
}
#content-card .card a .card__description {
  width: 100%;
  height: 80pt;
  padding-left: 5px;
  font-size: 12px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  #content-card {
    margin-top: 10px;
  }
  #content-card .card {
    width: calc(50% - 40px);
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  #content-card {
    margin-top: 10px;
  }
  #content-card .card {
    width: 100%;
    padding-bottom: 20px;
    margin: 20px 20px;
    border-radius: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
