$newBlue: #3282f7;
$newGreen: #68D9A4;
$newRed: #ED6454;
.form-control{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
#secondSearch{
    display: flex;
    flex-flow: row wrap;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 75%;
        padding-top: 1rem;
    }
}

#ingSearch{
    .list-container{
        background-color: $newBlue;
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            li{
                width: 33.33%;
                list-style: none;
                cursor: pointer;
                &:hover{
                    color: beige;
                }
        }
        
    }
    }
}
#appSearch{
    .list-container{
        background-color: $newGreen;
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            li{
                width: 33.33%;
                list-style: none;
                cursor: pointer;
                &:hover{
                    color: beige;
                }
        }
        
    }
    }
}
#ustSearch{
    .list-container{
        background-color: $newRed;
        ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            li{
                width: 33.33%;
                list-style: none;
                cursor: pointer;
                &:hover{
                    color: beige;
                }
            }
        
    }
    }
}