$newBlue: #3282f7;
$newGreen: #68d9a4;
$newRed: #ed6454;
* {
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
}
main {
	padding: 0 100px 0;
}
a {
	text-decoration: none;
}
ul {
	li {
		list-style: none;
	}
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 0 20px;
	padding-top: 1rem;
	img {
		width: 30%;
	}
}
#secondSearch {
	display: flex;
	position: absolute;
	max-width: calc(83.33% - 20px);
	overflow: hidden;
	z-index: 3;
	.secondSearch {
		width: calc(100% - 10px);
		border-radius: 5px;
		margin: 20px 5px 10px 0;

		&.hidden {
			display: none;
		}
		.input-btn {
			display: flex;
			justify-content: space-between;
			color: white;
			padding: 20px;

			align-items: center;
			input {
				width: 100%;
				background-color: transparent;
				border: none;
				color: white;
				outline: none;
			}
		}

		.list-container {
			border-radius: 5px;
			width: 100%;

			ul {
				height: 150pt;
				overflow-y: scroll;
				scrollbar-width: thin;
				scrollbar-color: white transparent;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				li {
					font-size: 18px;
					padding: 10px;
					color: white;
					min-width: calc(33.33% - 20px);
					list-style: none;
					cursor: pointer;
					&:hover {
						color: rgb(70, 70, 70);
					}
				}
			}
		}
	}

	.btn-dropdown {
		&.hidden {
			display: none;
		}
		margin: 20px 10px 10px 0;
		border-radius: 5px;
		width: 170px;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		&:hover {
			cursor: pointer;
		}
		label {
			font-weight: 700;
			font-size: 18px;
		}
		i {
			font-weight: 700;
		}
	}
	#ingSearch {
		.list-container,
		.btn-dropdown,
		.secondSearch {
			background-color: $newBlue;
		}
	}

	#appSearch {
		.list-container,
		.btn-dropdown,
		.secondSearch {
			background-color: $newGreen;
		}
	}
	#ustSearch {
		.list-container,
		.btn-dropdown,
		.secondSearch {
			background-color: $newRed;
		}
	}
}
#tag-container {
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			margin: 10px;
			display: flex;
			border-radius: 5px;
			color: white;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			max-width: 25%;
			&.ing {
				background-color: #3282f7;
			}
			&.app {
				background-color: #68d9a4;
			}
			&.ust {
				background-color: #ed6454;
			}
			i {
				padding-left: 10px;
				&:hover {
					cursor: pointer;
					color: rgb(70, 70, 70);
				}
			}
		}
	}
}
.getError {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	width: 100%;
	color: #ed6454;
	font-size: 32px;
	font-weight: 700;
}
// @media screen and (min-width: 1440px) {
// 	body {
// 		width: 1440px;
// 		margin: auto;
// 	}
// }
.input-group {
	display: flex;
	flex-direction: row;
	width: 100%;

	#searchForm {
		width: 100%;
		height: 69px;
		background-color: #e7e7e7;
		border: none;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		outline: none;
		padding-left: 20px;
	}
	i {
		display: flex;
		align-items: center;
		background-color: #e7e7e7;
		font-size: xx-large;
		padding-right: 10px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	#secondSearch {
		display: flex;
		flex-direction: column;
		position: relative;
	}
}

@media screen and (max-width: 767px) {
	main {
		padding: 10px;
	}
	#secondSearch {
		display: flex;
		flex-direction: column;
		position: relative;
		min-width: 100%;
		width: 100%;
		.secondSearch {
			width: 100%;
			border-radius: 0;
			margin: 0;
			.input-btn {
				width: 90%;
			}
			.list-container {
				border-radius: 0;
			}
		}
		.btn-dropdown {
			width: 95%;
			margin: 0;
			border-radius: 0;
			padding: 20px 20px 20px 20px;
			&i {
				margin-right: 10px;
			}
		}
	}
}
