#content-card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	.card {
		width: calc(33.33% - 40px);
		height: 364px;
		margin: 20px;
		padding-bottom: 40px;
		a {
			color: black;
			.card_ {
				&_thumb {
					height: 178px;
					width: 100%;
					background-color: #c7bebe;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
				&_body {
					height: 178px;
					padding: 20px;
					margin: 0;
					background-color: #e7e7e7;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}
				&_head {
					display: flex;
					justify-content: space-between;
					align-items: baseline;
				}
				&_title {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-size: 18px;
				}
				&_time {
					display: flex;
					align-items: center;
					i {
						font-size: larger;
						margin-right: 5px;
					}
					p {
						font-weight: 700;
					}
				}
				&_content {
					width: 100%;
					height: 80%;
					padding-top: 20px;
					display: flex;
					align-items: baseline;
					justify-content: space-between;
				}
				&_ingredients {
					width: 100%;
					font-size: 12px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					span {
						padding: 0;
						text-overflow: ellipsis;
						font-weight: 700;
						font-size: 12px;
					}
				}
				&_description {
					width: 100%;
					height: 100%;
					padding-left: 5px;
					font-size: 12px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#content-card {
		.card {
			width: calc(50% - 40px);
			padding-bottom: 20px;
		}
	}
}

@media screen and (max-width: 767px) {
	#content-card {
		.card {
			width: calc(100% - 40px);
			padding-bottom: 20px;
		}
	}
}
